<div class="bg-gray-100">

  <app-control-bar></app-control-bar>

  <div class="container mx-auto flex flex-row justify-end mt-3">


    <a class="btn btn-success mx-1" href="https://recruiter.bdjobs.com/jobposting/">Post a New Job</a>
    <a class="btn btn-primary mx-1" href="https://recruiter.bdjobs.com/talent-search-dashboard/">
      <img src="assets/images/search.svg" class="button-icon" />
      Search Talent
    </a>
    <button class="btn btn-primary"><img src="assets/images/search.svg" class="button-icon" />
      Search Talent</button>

    <!-- <a class="btn btn-outline-primary mx-1" href="https://corporate3.bdjobs.com/nidVerification.asp">
      NID Verification
    </a> -->

  </div>

  <div class="container mx-auto">

    <div class="notification">

      <div class="ntfy-body">
        <h3><span class="icon-notify-bell icnotify"></span><span>Notification</span>
        </h3>
      </div>

      <div>

        <div>

          <div class="ntfyDate"><span>This Month</span></div>

          <div class="ntfy-latest-dtls">

            <div class="notify_perpose">
              <div class="ntfy-image-badge">
               


                <div class="notify-icon tabicon"><span class="icon-comments icMsg"></span>
                </div>

              </div>

              <div class="ntfy-dtls">
                <span class="ntfy-title">7 New Message</span>

                <span class="ntfy-content">You got 10 new message form the candidates of
                  your
                  'Sales Executive' job.</span>

                <span class="ntfy-time">30 mins ago</span>
              </div>

            </div>



          </div>

          <div class="ntfy-latest-dtls">

            <div class="notify_perpose">
              <div class="ntfy-image-badge">
                <div class="red_badge" style="display: none;"></div>
                <div class="notify-icon tabicon"><span class="icon-assessment-default icMsg"></span>
                </div>
              </div>

              <div class="ntfy-dtls">
                <span class="ntfy-title">Payment invoice of Marketing Executive Job</span>

                <span class="ntfy-content">Your payment invoice for the Marketing Executive
                  job
                  listing is ready. Please review and complete the payment by 10
                  July.</span>

                <span class="ntfy-time">3 hours ago</span>
              </div>
            </div>
          </div>

          <div class="ntfy-latest-dtls opened">
            <div class="notify_perpose">
              <div class="ntfy-image-badge">
                <div class="red_badge hidden"></div>
                <div class="notify-icon tabicon opened"><span class="icon-briefcase icBrfcs"></span></div>
              </div>

              <div class="ntfy-dtls">
                <span class="ntfy-title">Payment is pending</span>
                <span class="ntfy-content">You 'Deputy Manager of Human Resources Department' job is published.</span>
                <button type="button" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Pay Now</button>
                <span class="ntfy-time">Sep 17</span>
              </div>
            </div>
          </div>

          <div class="ntfy-latest-dtls opened">

            <div class="notify_perpose">
              <div class="ntfy-image-badge">
                <div class="red_badge" style="display: none;"></div>
                <div class="notify-icon tabicon opened"><span class="icon-comments icMsg"></span>
                </div>
              </div>

              <div class="ntfy-dtls">
                <span class="ntfy-title">10 New Messages</span>

                <span class="ntfy-content">You got 10 new message form the candidates of
                  your
                  'Deputy Manager of Human Resources Department' job.</span>

                <span class="ntfy-time">Sep 16</span>
              </div>

            </div>

          </div>

          <div class="ntfy-latest-dtls opened">

            <div class="notify_perpose">

              <div class="ntfy-image-badge">
                <div class="red_badge" style="display: none;"></div>
                <div class="notify-icon tabicon opened"><span class="icon-clock icMsg"></span>
                </div>
              </div>

              <div class="ntfy-dtls">
                <span class="ntfy-title">Deadline of your job is nearby!</span>

                <span class="ntfy-content">You 'Deputy Manager of Human Resources
                  Department' job deadline is on July 10.</span>

                <span class="ntfy-time">Sep 16</span>
              </div>

            </div>

          </div>

          <div class="ntfy-latest-dtls opened">

            <div class="notify_perpose">

              <div class="ntfy-image-badge">
                <div class="red_badge" style="display: none;"></div>
                <div class="notify-icon tabicon opened"><span class="icon-exclamation icMsg"></span>
                </div>
              </div>

              <div class="ntfy-dtls">
                <span class="ntfy-title">Deadline of your job is over</span>

                <span class="ntfy-content">You 'Deputy Manager of Human Resources
                  Department' job deadline is over.</span>

                <span class="ntfy-time">Sep 16</span>
              </div>

            </div>

          </div>

          <div class="ntfy-latest-dtls opened">

            <div class="notify_perpose">

              <div class="ntfy-image-badge">
                <div class="red_badge" style="display: none;"></div>
                <div class="notify-icon tabicon opened"><span class="icon-comments icMsg"></span>
                </div>
              </div>

              <div class="ntfy-dtls">
                <span class="ntfy-title">10 New Messages</span>

                <span class="ntfy-content">You got 10 new message form the candidates of
                  your
                  'Deputy Manager of Human Resources Department' job.</span>

                <span class="ntfy-time">Sep 16</span>
              </div>

            </div>

          </div>

          <div class="ntfyDate"><span>August 2024</span></div>

          <div class="ntfy-latest-dtls opened">

            <div class="notify_perpose">
              <div class="ntfy-image-badge">
                <div class="red_badge" style="display: none;"></div>
                <div class="notify-icon tabicon opened"><span class="icon-briefcase icBrfcs"></span>
                </div>
              </div>

              <div class="ntfy-dtls">
                <span class="ntfy-title">Your Job is published</span>

                <span class="ntfy-content">You 'Deputy Manager of Human Resources
                  Department' job is published.</span>

                <span class="ntfy-time">Aug 13</span>
              </div>
            </div>

          </div>

          <div class="ntfy-latest-dtls opened">

            <div class="notify_perpose">

              <div class="ntfy-image-badge">
                <div class="red_badge" style="display: none;"></div>
                <div class="notify-icon tabicon opened"><span
                    class="icon-Shortlist-for-Face-to-Face icFacetoFace"></span>
                </div>
              </div>

              <div class="ntfy-dtls">
                <span class="ntfy-title">Face to face interview for Sales Executive</span>

                <span class="ntfy-content">21 candidates set the status 'Going' for face to
                  face
                  interview of 'Sales Executive' job</span>

                <span class="ntfy-time">Aug 10</span>
              </div>

            </div>

          </div>

          <div class="ntfy-latest-dtls opened">

            <div class="notify_perpose">

              <div class="ntfy-image-badge">
                <div class="red_badge" style="display: none;"></div>
                <div class="notify-icon tabicon opened"><span class="icon-video-camera icFacetoFace"></span>
                </div>
              </div>

              <div class="ntfy-dtls">
                <span class="ntfy-title">10 Video Interviews Submitted</span>

                <span class="ntfy-content">10 applicants submitted their video interview for
                  your 'Sales Executive' job tomorrow at 8am.</span>

                <span class="ntfy-time">Aug 08</span>
              </div>

            </div>

          </div>

          <div class="ntfyDate"><span>July 2024</span></div>

          <div class="ntfy-latest-dtls opened">

            <div class="notify_perpose">
              <div class="ntfy-image-badge">
                <div class="red_badge" style="display: none;"></div>

                <div class="notify-icon tabicon opened"><span class="icon-history icMsg"></span>
                </div>

              </div>

              <div class="ntfy-dtls">
                <span class="ntfy-title">Interviw Reschedule Requets</span>
                <span class="ntfy-content">You got 10 new message form the candidates of
                  your
                  'Sales Executive' job.</span>

                <span class="ntfy-time">30 mins ago</span>
              </div>

            </div>

          </div>

          <div class="ntfy-latest-dtls opened">

            <div class="notify_perpose">
              <div class="ntfy-image-badge">
                <div class="red_badge" style="display: none;"></div>
                <div class="notify-icon tabicon opened"><span class="icon-assessment-default icMsg"></span></div>
              </div>

              <div class="ntfy-dtls">
                <span class="ntfy-title">Payment invoice of Marketing Executive Job</span>

                <span class="ntfy-content">Your payment invoice for the Marketing Executive
                  job
                  listing is ready. Please review and complete the payment by 10
                  July.</span>

                <span class="ntfy-time">July 23</span>
              </div>
            </div>

          </div>

          <div class="ntfy-latest-dtls opened">

            <div class="notify_perpose">
              <div class="ntfy-image-badge">
                <div class="red_badge" style="display: none;"></div>
                <div class="notify-icon tabicon opened"><span class="icon-briefcase icBrfcs"></span>
                </div>
              </div>

              <div class="ntfy-dtls">
                <span class="ntfy-title">Your Job is published</span>

                <span class="ntfy-content">You 'Deputy Manager of Human Resources
                  Department' job is published.</span>

                <span class="ntfy-time">July 18</span>
              </div>
            </div>

          </div>

          <div class="ntfy-latest-dtls opened">

            <div class="notify_perpose">

              <div class="ntfy-image-badge">
                <div class="red_badge" style="display: none;"></div>
                <div class="notify-icon tabicon opened"><span
                    class="icon-Shortlist-for-Face-to-Face icFacetoFace"></span>
                </div>
              </div>

              <div class="ntfy-dtls">
                <span class="ntfy-title">Face to face interview for Sales Executive</span>

                <span class="ntfy-content">21 candidates set the status 'Going' for face to
                  face
                  interview of 'Sales Executive' job</span>

                <span class="ntfy-time">July 05</span>
              </div>

            </div>

          </div>

          <div class="ntfy-latest-dtls opened">

            <div class="notify_perpose">

              <div class="ntfy-image-badge">
                <div class="red_badge" style="display: none;"></div>
                <div class="notify-icon tabicon opened"><span class="icon-video-camera icFacetoFace"></span>
                </div>
              </div>

              <div class="ntfy-dtls">
                <span class="ntfy-title">10 Video Interviews Submitted</span>

                <span class="ntfy-content">10 applicants submitted their video interview for
                  your 'Sales Executive' job tomorrow at 8am.</span>

                <span class="ntfy-time">July 02</span>
              </div>

            </div>

          </div>

          <div class="ntfyDate"><span>June 2024</span></div>

          <div class="ntfy-latest-dtls opened">

            <div class="notify_perpose">

              <div class="ntfy-image-badge">
                <div class="red_badge" style="display: none;"></div>
                <div class="notify-icon tabicon opened"><span class="icon-clock icMsg"></span>
                </div>
              </div>

              <div class="ntfy-dtls">
                <span class="ntfy-title">Deadline of your job is nearby!</span>

                <span class="ntfy-content">You 'Deputy Manager of Human Resources
                  Department' job deadline is on July 10.</span>

                <span class="ntfy-time">Jume 29</span>
              </div>

            </div>

          </div>

          <div class="ntfy-latest-dtls opened">

            <div class="notify_perpose">

              <div class="ntfy-image-badge">
                <div class="red_badge" style="display: none;"></div>
                <div class="notify-icon tabicon opened"><span class="icon-exclamation icMsg"></span>
                </div>
              </div>

              <div class="ntfy-dtls">
                <span class="ntfy-title">Deadline of your job is over</span>

                <span class="ntfy-content">You 'Deputy Manager of Human Resources
                  Department' job deadline is over.</span>

                <span class="ntfy-time">June 19</span>
              </div>

            </div>


          </div>

          <div class="ntfy-latest-dtls opened">

            <div class="notify_perpose">


              <div class="ntfy-image-badge">
                <div class="red_badge" style="display: none;"></div>
                <div class="notify-icon tabicon opened"><span class="icon-comments icMsg"></span>
                </div>


              </div>

              <div class="ntfy-dtls">
                <span class="ntfy-title">10 New Messages</span>

                <span class="ntfy-content">You got 10 new message form the candidates of
                  your
                  'Deputy Manager of Human Resources Department' job.</span>

                <span class="ntfy-time">June 10</span>
              </div>

            </div>

          </div>







        </div>

      </div>

    </div>

  </div>

</div>
