<div class="footer-component">
  <div class="container">
    <div class="row">
      <div
        class="col-xl-3 d-none d-xl-flex flex-column justify-content-center align-items-start"
      >
        <a href="https://bdjobs.com" target="_blank" rel="noopener noreferrer">
          <img
            class="brand-logo"
            src="assets/images/logo.png"
            draggable="false"
          />
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
        <h2>About Us</h2>
        <ul>
          <li>
            <a
              href="https://bdjobs.com/about.asp"
              target="_blank"
              rel="noopener noreferrer"
              >About Bdjobs</a
            >
          </li>
          <li>
            <a
              href="https://bdjobs.com/contact.asp"
              target="_blank"
              rel="noopener noreferrer"
              >Contact</a
            >
          </li>
        </ul>
      </div>
      
      <div class="col-12 col-md-6 col-lg-3 col-xl-3">
        <h2>Guide to Bdjobs Recruiter</h2>
        <ul>
          <li>
            <a
              href="https://corporate3.bdjobs.com/help/job-posting-user-guide.asp"
              target="_blank"
              rel="noopener noreferrer"
              >Job Posting User Guide</a
            >
          </li>
          <li>
            <a
              href="https://corporate3.bdjobs.com/help/applicant-hiring-activity-user-guide.asp?from=recruiter"
              target="_blank"
              rel="noopener noreferrer"
              >One Stop Recruitment Center</a
            >
          </li>
          <li>
            <a
              href="https://corporate3.bdjobs.com/help/help.asp?from=recruiter"
              target="_blank"
              rel="noopener noreferrer"
              >FAQ</a
            >
          </li>
          <li>
            <a
              href="https://corporate3.bdjobs.com/help/getting_started.asp?from=recruiter"
              target="_blank"
              rel="noopener noreferrer"
              >How To</a
            >
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
        <h2>Others</h2>
        <ul>
          <li>
            <a
              href="https://jobs.bdjobs.com/jobsearch.asp"
              target="_blank"
              rel="noopener noreferrer"
              >Jobs</a
            >
          </li>
          <li>
            <a
              href="https://bdjobs.com/career/counsel.asp"
              target="_blank"
              rel="noopener noreferrer"
              >Career Counseling</a
            >
          </li>
          <li>
            <a
              href="https://bdjobs.com/m_d_l/"
              target="_blank"
              rel="noopener noreferrer"
              >E-Learning</a
            >
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
        <h2>Follow Us</h2>
        <div class="d-flex flex-row icon-container">
          <a
            href="https://www.facebook.com/mybdjobs"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="assets/images/facebook-color-icon.svg"
              class="footer-icon"
              alt="Facebook link"
              draggable="false"
            />
          </a>
          <a
            href="https://b.bdjobs.com/google-page"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="assets/images/google-color-icon-round.png"
              class="footer-icon"
              alt="Google link"
              draggable="false"
            />
          </a>
          <a
            href="https://www.youtube.com/mybdjobs"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="assets/images/youtube-color-icon.svg"
              class="footer-icon"
              alt="Youtube link"
              draggable="false"
            />
          </a>
          <a
            href="https://linkedin.com/company/mybdjobs"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="assets/images/linkedin-color-icon.svg"
              class="footer-icon"
              alt="Linkedin link"
              draggable="false"
            />
          </a>
          <a
            href="https://www.instagram.com/mybdjobs/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="assets/images/instagram-color-icon.svg"
              class="footer-icon"
              alt="Instagram link"
              draggable="false"
            />
          </a>
        </div>
        <h2>Get Employer App</h2>
        <div class="d-flex flex-row store-badges">
          <a
            href="https://play.google.com/store/apps/details?id=com.bdjobs.recruiter"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="assets/images/google-play-badge.svg"
              alt="Download employer app"
              draggable="false"
          /></a>
          <a
            href="https://apps.apple.com/us/app/bdjobs-employer/id1479828492"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="assets/images/app-store-badge.svg"
              alt="Download employer iOS app"
              draggable="false"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
