<div class="modal-header">
  <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
</div>
<div class="pendingcontainer">
  <div class="flex flex-col items-center justify-center">
    <div class="flex flex-col items-center justify-center">
      <img src="../../../assets/images/credit_rejected.svg" alt="" />
      <p class="pentxt">Credit Status</p>
      <p class="penstats">Rejected</p>
      <p>
        Your Request for bdjobs credit is being processed. Please wait while we
        process your request.
      </p>
    </div>
  </div>
</div>
<div class="modal-footer" style="border-color: white !important;">

</div>