<div class="relative w-full flex items-center justify-center" data-carousel="slide" (click)="onCarouselClick($event)">
  <!-- Carousel wrapper -->
  <div class="relative h-[450px] w-full overflow-hidden">
    <!-- Slides wrapper for sliding effect -->
    <div class="flex transition-transform duration-700 ease-in-out slide-track" [ngStyle]="{'transform': 'translateX(-' + (currentIndex * 100) + '%)'}">
      <div class="w-full flex-shrink-0" *ngFor="let slide of slides; let i = index">
        <div class="flex flex-wrap items-center carousel-details justify-between">
          <div class="w-full lg:w-1/2 lg:pe-5 flex justify-center items-center">
            <div class="max-w-xl text-center w-full">
              <h3 class="text-[25.2px] font-semibold font-inter">{{slide.title}}</h3>
              <p>{{slide.text}}</p>
            </div>
          </div>
          <div class="w-full lg:w-1/2 flex justify-center lg:justify-end items-center">
            <img
              class="carousel-image"
              [src]="slide.img"
              [alt]="slide.alt"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Slider indicators -->
  <div class="absolute z-30 flex space-x-3 bottom-0 left-1/2 -translate-x-1/2 pb-4">
    <button *ngFor="let slide of slides; let i = index" type="button" class="dot-indicator" [attr.aria-current]="currentIndex === i ? 'true' : 'false'" [attr.aria-label]="'Slide ' + (i+1)" (click)="$event.stopPropagation(); showSlide(i)"></button>
  </div>
</div>
