<div class="modal-header">
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="dismiss()"
  ></button>
</div>
<div class="pendingcontainer">
  <div class="d-flex flex-column align-items-center justify-content-center">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <a href="https://recruiter.bdjobs.com/jobposting"
        ><img src="../../../assets/images/victoryJobBanner.jpg" 
      /></a>
    </div>
  </div>
</div>
<div class="modal-footer" style="border-color: white !important"></div>
