.circular-progress {
  position: relative;
  display: inline-block;
}

.circular-progress-svg {
  transform: rotate(-90deg);
}

.circular-progress-background {
  stroke: #d6d6d6;
}

.circular-progress-path {
  transition: stroke-dashoffset 0.3s ease;
}

.circular-progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-weight: bold;
} 