<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="DetailedLocalOnly" />
        <rewrite>

            <rules>

            <rule name="Redirect to HTTPS" enabled="true" stopProcessing="true">
              <match url="(.*)" />
              <conditions>
                 <add input="{HTTPS}" pattern="^OFF$" />
              </conditions>
              <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" />
            </rule>

	    <rule name="Angular Jobposting" stopProcessing="true">

                <match url="jobposting" />

                <conditions logicalGrouping="MatchAll">

                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />

                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />

                </conditions>

                <action type="Rewrite" url="/jobposting/" />

            </rule>

            <rule name="Angular Dashboard" stopProcessing="true">

                <match url="dashboard" />

                <conditions logicalGrouping="MatchAll">

                	<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />

                	<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />

                </conditions>

                <action type="Rewrite" url="/" />
            </rule>
            <rule name="Angular CreditSystem" stopProcessing="true">

                <match url="credit-system" />

                <conditions logicalGrouping="MatchAll">

                	<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />

                	<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />

                </conditions>

                <action type="Rewrite" url="/" />
            </rule>
            <rule name="Angular Cvdetails" stopProcessing="true">
                <match url="cvdetails/.*" />
                <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                </conditions>
                <action type="Rewrite" url="/" />
            </rule>

            </rules>

        </rewrite>
    </system.webServer>
</configuration>