<div class="job-post-container-header-component">
  <div class="container rounded-t-lg flex flex-col">
    <div class="flex flex-row justify-between headrebg">
      <ul class="flex">
        <li class="nav-item">
          <a
            class="nav-link first flex items-center justify-center w-full h-full px-4 py-2"
            [class.active]="activeTab === 'published'"
            (click)="setActiveTab('published', $event)"
            href="#"
          >
            Published ({{ publishedCount }})
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link flex items-center justify-center w-full h-full px-4 py-2"
            [class.active]="activeTab === 'posted'"
            (click)="setActiveTab('posted', $event)"
            href="#"
          >
            Processing ({{ postedCount }})
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link flex items-center justify-center w-full h-full px-4 py-2"
            [class.active]="activeTab === 'drafted'"
            (click)="setActiveTab('drafted', $event)"
            href="#"
            >
            Drafted ({{ draftedJobCount }})
          </a>
        </li>

        @if(jobFairJobCount > 0){
          <li class="nav-item">
            <a
              class="nav-link flex items-center justify-center w-full h-full px-4 py-2"
              href="https://corporate3.bdjobs.com/corporate_default.asp?pt=f&from=recruiter"
              >Job Fair
            </a>
          </li>
        }       

        <!-- <li class="nav-item">
          <a
            class="nav-link flex items-center justify-center"
            [class.active]="activeTab === 'all'"
            (click)="setActiveTab('all', $event)"
            href="#"
          >
            All ({{ totalJobCount }})
          </a>
        </li> -->
      </ul>

      <div class="py-2">
        <form class="flex my-1">
          <div
            class="dateinput input-group mx-4 inline-flex items-center justify-between border rounded"
            >
            <input
              #myRangeInput
              class="form-control border-0 focus:ring-0 focus:outline-none"
              placeholder="Select date range"
              name="dp"
              [(ngModel)]="model"
              ngbDatepicker
              [dayTemplate]="t"
              [displayMonths]="2"
              [maxDate]="maxDate"
              [minDate]="minDate"
              #d="ngbDatepicker"
              [autoClose]="'outside'"
              (closed)="updateJobSearchDto()"
              (keyup)="onDatePickerInputKeyUp()"
              (click)="d.toggle()"
              (paste)="onDateRangePaste($event)"
              readonly
            />

            <span
              class="icon-times closeicn"
              (click)="clearDateRange()"
              *ngIf="model"
            ></span>

            <ng-template #t let-date="date" let-focused="focused">
              <span
                class="custom-day"
                [class.range]="
                  isFrom(date) ||
                  isTo(date) ||
                  isInside(date) ||
                  isHovered(date)
                "
                [class.faded]="isHovered(date) || isInside(date)"
                (click)="onDateSelection(date)"
                (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null"
              >
                {{ date.day }}
              </span>
            </ng-template>
            <div class="input-group-append">
              <button
                class="btn btn-primary btn-select-date-range"
                (click)="d.toggle()"
                type="button"
              >
                <img
                  class="container-header-icon"
                  src="assets/images/date-range.svg"
                />
              </button>
            </div>
          </div>
          <div class="input-group mx-2 relative inline-flex items-center justify-between border rounded">
            <input
              name="jobTitle"
              class="form-control border-0 focus:ring-0 focus:outline-none jtitleplc w-full"
              placeholder="Search by job title"
              maxlength="100"
              [(ngModel)]="jobTitle"
              (keyup.enter)="updateJobSearchDto()"
            />

            <span *ngIf="jobTitle">
              <span
                class="icon-times jobtclose"
                (click)="clearJobTitle()"
              ></span>
            </span>
            
            <div class="input-group-append">
              <button
                class="btn btn-primary btn-select-date-range"
                type="button"
                (click)="updateJobSearchDto()"
              >
                <img
                  class="container-header-icon"
                  src="assets/images/search.svg"
                />
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
