<div class="bottom-footer-component">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div
          class="d-flex flex-column justify-content-start justify-content-md-evenly justify-content-lg-between flex-md-row mx-xl-4 mx-lg-1 mx-md-0"
        >
          <div ngbDropdown placement="top-start" class="d-inline-block">
            <div
              id="dropdown-international-partners"
              class="footer-dropdown-text"
              ngbDropdownToggle
            >
              International Partners
            </div>
            <div
              class="footer-dropdown-body"
              ngbDropdownMenu
              aria-labelledby="dropdown-international-partners"
            >
              <a
                ngbDropdownItem
                href="https://www.brightermonday.com/"
                target="_blank"
                rel="noopener noreferrer"
                >Brighter Monday (Africa)</a
              >
              <!-- <a
                ngbDropdownItem
                href="https://www.catho.com.br/"
                target="_blank"
                rel="noopener noreferrer"
                >Catho (Brazil)</a
              > -->
              <a
                ngbDropdownItem
                href="https://www.jobberman.com/"
                target="_blank"
                rel="noopener noreferrer"
                >Jobberman (West Africa)</a
              >
              <a
                ngbDropdownItem
                href="https://www.jobsdb.com/"
                target="_blank"
                rel="noopener noreferrer"
                >jobsDB (S.E. Asia)</a
              >
              <a
                ngbDropdownItem
                href="https://www.jobstreet.com/"
                target="_blank"
                rel="noopener noreferrer"
                >JobStreet (S.E. Asia)</a
              >
              <a
                ngbDropdownItem
                href="https://www.jora.com/"
                target="_blank"
                rel="noopener noreferrer"
                >Jora (Worldwide)</a
              >
              <a
                ngbDropdownItem
                href="https://www.occ.com.mx/"
                target="_blank"
                rel="noopener noreferrer"
                >OCC Mundial (Mexico)</a
              >
              <a
                ngbDropdownItem
                href="https://www.seek.com.au/"
                target="_blank"
                rel="noopener noreferrer"
                >SEEK (Australia)</a
              >
              <a
                ngbDropdownItem
                href="https://www.workana.com/"
                target="_blank"
                rel="noopener noreferrer"
                >Workana (Latin America)</a
              >
              <a
                ngbDropdownItem
                href="https://www.zhaopin.com/"
                target="_blank"
                rel="noopener noreferrer"
                >Zhaopin (China)</a
              >
            </div>
          </div>

          <div ngbDropdown placement="top-start" class="d-inline-block">
            <div
              id="dropdown-other-partners"
              class="footer-dropdown-text otetherprt"
              ngbDropdownToggle
            >
              Other Partners
            </div>
            <div
              class="footer-dropdown-body"
              ngbDropdownMenu
              aria-labelledby="dropdown-other-partners"
            >
              <a
                ngbDropdownItem
                href="https://ajkerdeal.com/"
                target="_blank"
                rel="noopener noreferrer"
                >AjkerDeal (Bangladesh)</a
              >
              <a
                ngbDropdownItem
                href="https://deliverytiger.com.bd/"
                target="_blank"
                rel="noopener noreferrer"
                >Delivery Tiger (Bangladesh)</a
              >
              <!-- <a
                ngbDropdownItem
                href="https://www.beshto.com/"
                target="_blank"
                rel="noopener noreferrer"
                >Beshto (Bangladesh)</a
              > -->
              <a
                ngbDropdownItem
                href="http://www.aspiringminds.com/"
                target="_blank"
                rel="noopener noreferrer"
                >Aspiring Minds (India)</a
              >
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div
          class="d-flex flex-column justify-content-start justify-content-md-evenly justify-content-lg-between flex-md-row mx-xl-4 mx-lg-3 mx-md-0"
        >
          <div class="footer-dropdown-text ps-md-4 ps-0">
            <a
              href="https://bdjobs.com/policy/Privacy_policy.asp"
              target="_blank"
              rel="noopener noreferrer"
              >Privacy Policy</a
            >
          </div>
          <div class="footer-dropdown-text">
            <a
              href="https://bdjobs.com/tos.asp"
              target="_blank"
              rel="noopener noreferrer"
              >Terms & Conditions</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div
          class="d-flex flex-row justify-content-start justify-content-md-evenly mx-xl-4 mx-lg-1 mx-md-0"
        >
          <div class="support-text d-flex">
            Call For Support &nbsp;
            <span class="phone-number d-flex align-items-center"
              ><img
                class="bottom-footer-icon"
                src="assets/images/phone.svg"
              /><a href="tel:01897627858">01897627858</a>,&nbsp;&nbsp;<a
                href="tel:09638666444"
                >09638666444</a
              ></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
