.accordion-item {
    border: none !important;
}

.accordion-button {
    padding: 10px;
}
.accordion-button:focus {
    border-color: transparent;
}
.accordion-button:active {
    border-color: transparent;
}
.accordion-button:not(.collapsed) {
    box-shadow: none;
    background-color: transparent;
}

.actitle {
    color: #165273;
    font-size: 32px;
    font-weight: 700;
}