<div ngbAccordion>
  <div ngbAccordionItem [collapsed]="false">
    <h2>
      <button ngbAccordionButton class="actitle">Bdjobs Credits</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <div class="row">
            <div class="col-md-7">
              <p>
                Welcome to BDJobs Credit System, where we revolutionize your recruitment process with seamless
                flexibility and unparalleled savings. Our innovative credit system is designed to empower our corporate
                clients, like you, to optimize your hiring strategy and find the best talent for your organization
                effortlessly.
              </p>
              <p><strong>Benefits:</strong></p>
              <ul>
                <!-- <li></li> -->
                <li>Cost-Efficient Recruiting</li>
                <li>Streamlined Process</li>
                <li>Enhanced Flexibility</li>
                <li>Time-Saving Solution</li>
              </ul>
            </div>

            <div class="col-md-5">
              <img src="../../../assets/images/credit-accordion.png" alt="" />
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>